html,
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#output-video {
  z-index: 100;
  position: fixed; 
  transform: scale(-1,1);
}